*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body 
{
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    overflow-x : hidden;
}

.main
{
    min-width: 100vw;
    min-height: 100vh;
}

#arrowup 
{
    position: fixed;
    top: 90%;
    right: 2%;
    color: green;
    background-color: #ffff;
    font-size: 2rem;
}

#arrowup:hover 
{
    animation: arrowbump 0.5s infinite alternate;
}

@keyframes arrowbump {
    0% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(0px);
    }
}